### AL / Dynamics 365 (Your existing rules) ###
.vscode/
.alcache/
.alpackages/
.snapshots/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
# Dependency packages
node_modules
# Nuxt build folder
.nuxt/
# NPM package lock file
package-lock.json

